// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$bg-strongly-disagree: #ff8a8033;
$b-strongly-disagree: #ff8a80;
$bg-disagree: #ffb58033;
$b-disagree: #ffb580;
$bg-neutral: #c4cccc1a;
$b-neutral: #c4cccc;
$bg-agree: #6cd97e33;
$b-agree: #6cd97e;
$bg-strongly-agree: #00cc9533;
$b-strongly-agree: #00cc95;
